html, body {
  font-family: "Oxygen", sans-serif; 
  font-weight: 300; 
  margin: 0;
  padding: 0;
}

.container {
  max-width: 970px;
}

.container a {

		color: #0393ff;
}


.supporting {
  background-color: black;
  background-size: 141px 142px;
  text-align: center;
  padding-bottom: 80px;

}

.main {

	height: 600px;
	background: #000;
	padding: 40px 8px;
	color:#fff;
	text-align: center;

}




.main ul {

		list-style: none;
}

.main li {
				display: inline;
				margin-right: 30px;
				
}	

.btn {

			color: #0393ff;
			background: transparent;
			border: 1px solid #0393ff;
			border-radius: 1px;
			padding: 8px 20px;
	 		
	 }


.btn:hover {
					color:#fff;
					background: #0393ff;
					border-color: #0393ff;
		   }


.header h1 {
				font-size: 55px;
				margin-bottom: 40px;	
				margin-top: 80px;	
}				


form {

	margin-top: 80px;


}


#search {

				background: transparent;
			    border: 0px;
			    border-radius: 0;
			    border-bottom: 1px solid #fff;
			    color: #fff;
			    font-size: 18px;
			    margin: 0 20px;
			    width: 400px;
			   

 }


#search:active,
#search:focus {

			
					border-radius: 0;
					border-color: #0393ff;
					outline: none;			
					
			  }


.supporting h2,
.feature h2
{
					
					margin: 50px 0 10px;
					color: #0393ff;

}

.supporting p,
.feature  p{
					margin-bottom: 45px;
					font-size: 16px;
					color:#fff;
}

.supporting .thumbnail {

	background: transparent;
	padding: 0;
	border: 0;
}


.feature{
	text-align: center;
	background: url(https://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg) center center;
	background-size: cover;
	padding:  100px 0;
}
	

.footer {

	padding: 60px 0;
	background: #000;
}

.footer h3 {
				
		color: #fff;
		font-size: 18px;
		font-weight: 300;
}


.footer ul {

				padding: 0;
				list-style: none;
				color: #0393ff;
}


@media (max-width: 380px) {
	*{
		width: 100%;
	}

}
